<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        KMPE PLC
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<header class="navbar">

    <a
        class="brand"
        href="{{ url_for('index') }}"
    >
        KMPE <span>PLC</span>
    </a>

    <nav>

        <a href="/#home">Home</a>

        <a href="/#about">About</a>

        <a href="/#services">Services</a>

        <a href="/#projects">Projects</a>

        <a href="/#news">News</a>

        <a href="/#careers">Vacancies</a>

        <a href="/#contact">Contact</a>

    </nav>

</header>


{% block content %}

{% endblock %}


<footer>

    <strong>KMPE PLC</strong>

    <span>
        Construction • Fountain • Finishing Works
    </span>

    <span>
        © 2026 KMPE PLC
    </span>

</footer>


<script
    src="{{ url_for('static', filename='js/app.js') }}"
></script>

</body>

</html>
